@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-4">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" alt="" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" alt="" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" alt="" />
    </div>
</div>

