@{
    ViewData["Title"] = "Home Page";
}

<p>
    Hola, soy Marquiños. Y este curso vamos a aprender mucho acerca de ASP.NET Core MVC. La idea es poder aprender 
    haciendo proyectos. Ya que así, veré conceptos y también los pondré en práctica.
</p>
